<div class="container">
  <div class="header">
    <div class="time-box" *ngIf="(currentTime$ | async) as time">
      {{ getFormattedTime(time) }}
    </div>
        <div class="icon red" (click)="toggleSpeed()">🕒</div>
  </div>

  <div class="reminder-list">
    <div *ngFor="let r of reminders" [class.passed]="r.passed">
      {{ r.text }} <span class="time">{{ r.time }}</span>
    </div>
  </div>

  <div class="input-row">
    <input [(ngModel)]="newReminderText" placeholder="Enter reminder" />
    <input type="time" [(ngModel)]="newReminderTime" />
    <button class="icon green" (click)="addReminder()">🕒</button>
  </div>

  <button class="add-btn" (click)="addReminder()">Add Reminder</button>
</div>
<router-outlet></router-outlet>